<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Login Page</title>
  </head>
  <body>
    <div class="kiri">
      <div class="login">
        <h1>Login</h1>
        <p class="welcome">Selamat datang di Perpustakaan ITERA</p>
        <form>
          <label for="email">Email</label><br />
          <input type="text" id="email" placeholder="mail@website.com" /><br />
          <label for="password">Password</label><br />
          <input type="password" id="password" placeholder="Min. 8 character" /><br />
          <div class="option">
            <input type="checkbox" id="rem" />
            <label for="rem" class="rem1">Remember me</label>
            <a href="" class="forget">Forget password?</a><br />
          </div>
          <input type="submit" value="Login" id="login"/><br />
          <label for="reg" class="reg1">Not registered yet? </label><a href="" id="reg">Create an Account</a></p>
        </form>
      </div>
      <div class="clear"></div>
    </div>
    <div class="kanan cf">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus deleniti culpa dolorum sequi nihil debitis facilis, minima quidem laborum at voluptates officia delectus soluta facere eum recusandae doloremque id? Sed.</p>
    </div>
  </body>
</html>
